#db
APP_CONFIG__DB__URL=postgresql+asyncpg://user:pwd@localhost:0000/db
APP_CONFIG__DB__ECHO=0

# Logging
LOG_LEVEL=DEBUG
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s"

#Bot
BOT_TOKEN=000000000:00000000000000000000